.yieldContainer {
    padding-top: 243px;
    height: calc(100% - 243px);
}

.yieldContainerItem {
    padding: 20px 0;
}

.yieldContainerItem_wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.yieldContainerItem + .yieldContainerItem {
    border-top: 1px solid #ebebeb;
}

.yieldContainerItem_info {
    margin: auto;
    margin-left: 15px;
    width: 100%;
}

.yieldContainerItemInfo_title,
.yieldContainerItemInfo_values
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}

.yieldContainerItemInfo_values div:first-child {
    max-width: 100px;
}

.yieldContainerItemInfo_values div:last-child {
    text-align: right;
}


.yieldContainerItemInfo_values {
    color: rgb(132, 158, 182);
    font-size: 14px;
}

.yieldContainerItem_increase,
.yieldContainerItem_decrease {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.yieldContainerItem_decrease {
    transform: scale(1, -1);
    transform-origin: center center;
}


.yieldContainerItem:hover {
    background-color: rgb(247, 249, 251);
    cursor: pointer;
}

.yieldContainerItemLogo_wrapper {
    display: flex;
    vertical-align: baseline;
    align-items: center;
    text-align: center;
}
.yieldContainerItemLogo_wrapper img {
    width: 100%;
}