.buttonCircle {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    cursor:pointer;
    box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}