.header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.3);
    z-index: 1;
}

.header_wrapper {
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
}

.header_settings {
    display: flex;
    justify-content: space-between;
    color: #849eb6
}

.header_info {
    margin: 20px 0 10px;
}

.headerInfo_inDetail {
    color: #849eb6;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}

.headerInfo_total {
    font-size: 36px;
    font-weight: bold;
}

.headerInfo_time {
    display: flex;
    align-items: center;
}

.headerInfoTime_icon {
    margin-left: 5px;
}

.header_view {
    overflow: hidden;
}

.header_viewList {
    overflow: auto;
    width: 100%;
}

.header_viewList_content {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 15px 0;
}

.header_viewList_content:before,
.header_viewList_content:after {
    content: "";
    display: inline-block;
    width: 5%;
    align-self: stretch;
    flex-shrink: 0;
}

.header_viewItem {
    color: #849eb6;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    cursor:pointer;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.36);
    padding: 8px 12px;
}

.header_viewItem + .header_viewItem {
    margin-left: 15px;
}

.header_viewItem.active {
    color: #000;
}