html, body, div[id='root'] {
    height: 100%;
}

.myPortfolio {
    height: 100%;
}

.myPortfolio_loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}