html, body, div[id='root'] {
    height: 100%;
}

.myPortfolio {
    height: 100%;
}

.myPortfolio_loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customModal {
    border-radius: 10px;
}

.react-responsive-modal-modal {
    border-radius: 10px;
    width: 90%;
}

button.react-responsive-modal-closeButton {
    display: none;
}